.containerFlex {
  display: flex;
  justify-content: space-between;
}

.containerList {
  width: 90%;
  margin-top: 2em;
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  color: #ea580c;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  color: #ea580c;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  color: #ea580c;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.colorText {
  color: #2dd4bf;
}

.lightText {
  color: #666;
}

.listStyle {
  list-style: none;
}

.listIcon {
  list-style: none;
  width: 30px;
  height: auto;
}

.listIcon:hover {
  scale: 1.25;
  transition-duration: 200ms;
}
